.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.test-buttons {
  display: flex;
}

.orderbook-card {
  background: #2f2f2f!important;
  border-radius: 4px;
  padding: 2em;
  margin: 1em;
}

.App-link {
  color: #61dafb;
}

.table-orderbook {
  border-spacing: 0;
}

.table-orderbook td {
  padding: 2px 8px;
}

.text-muted {
  color: #6c757d!important;
}

/* PortfolioHeader */
/* this component have a profile image, a description, and a name */
    /* the image is in the left side and the text in the right side */
    /* the image is a circle */

    .portfolio-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 1em;
    }
    .portfolio-header img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .portfolio-header .portfolio-header-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 1em;
    }
    .portfolio-header .portfolio-header-text h1 {
      font-size: 1.5em;
      margin: 0;
    }
    .portfolio-header .portfolio-header-text p {
      font-size: 1em;
      margin: 0;
    }
    .portfolio-header .portfolio-header-text p.portfolio-header-text-email {
      font-size: 0.8em;
    }
    .portfolio-header .portfolio-header-text p.portfolio-header-text-email a {
      color: #61dafb;
    }
    .portfolio-header .portfolio-header-text p.portfolio-header-text-github {
      font-size: 0.8em;
    }
    .portfolio-header .portfolio-header-text p.portfolio-header-text-github a {
      color: #61dafb;
    }
    
.portfolio-header {
  background: #2f2f2f!important;
  border-radius: 4px;
  padding: 2em;
  margin: 1em;
}


/* end of PortfolioHeader */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
